/*################################## [(site_name)] FRAME STYLE SHEET for SMART PHONE #####################################*/

body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	*font-size: small;
	*font: x-small;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','¬’ËƒSƒVƒbƒN Pro R','KozGoStd-Light', 'KozGoStd-Regular', 'ƒƒCƒŠƒI',Meiryo, '‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	line-height: 200%;
	color: #333333;
}

/*============================== clearfix =================================*/
.clearfix {
	min-height: 1px;
}
	.clearfix:after {
		content: ".";
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
	* html .clearfix {
		height: 1px;
		height: auto;
		overflow: hidden;
	}
/*============================== radius =================================*/
.radius {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
/*============================ smart phone ==============================*/
.pc {
	display: none;
}



/*==============================================================================*/
/*                                   STRUCTURE                                  */
/*==============================================================================*/
.header {
	height: 100px;
}
	.header h1 {
		margin: 0;
		text-align: center;
	}
	.header form {
		margin: 10px auto;
		width: 210px;
		position: relative;
	}
	.header form input[type=text] {
		width: 200px;
		height: 21px;
		border: solid 1px #b2b2b2;
		text-indent: 5px;
	}
	.header form input[type=submit] {
		width: 22px;
		height: 22px;
		background: url(/assets/templates/v1/icn-search.png) no-repeat 60% 50%;
		position: absolute;
		top: 4px;
		right: 10px;
		border: none;
	}
	.header .menu_button {
		position: absolute;
		top: 0;
		right: 0;
		width: 46px;
		height: 50px;
		text-indent: 100%;
	}
	.header .menu_button a {
		display: block;
		width: 46px;
		height: 50px;
		background: url(/assets/templates/v1/btn-menu-sp.png) no-repeat 0 0;
	}
.cover {
}
	.cover p {
		margin: 0;
		padding: 0;
	}
	.cover img {
		width: 100%;
	}

.topicpath-top {
	border-top: solid 3px #f7f7f7;
	border-bottom: solid 3px #f4f4f4;
	background-color: #f0f0f0;
	font-size: 11px;
}
	.topicpath-top a,
	.topicpath-bottom a {
		margin-right: 10px;
		padding: 0 20px 0 15px;
		background: url(/assets/templates/v1/sepalator1.png) no-repeat 100% 50%;
		text-decoration: none;
		line-height: 36px;
	}
	.topicpath-top span,
	.topicpath-bottom span {
		padding-left: 15px;
		line-height: 36px;
	}
.topicpath-bottom {
	height: 37px;
	border-top: solid 3px #dcdcda;
	background-color: #ebede8;
	font-size: 11px;
}
	.topicpath-bottom a{
		background: url(/assets/templates/v1/sepalator2.png) no-repeat 100% 50%;
	}

.body {
	padding: 29px 0 40px 0;
}
	.content {
	}
	.side {
	}
		.side ul {
			margin: 0 auto;
			padding: 0;
		}
			.side ul li{
				margin: 0;
				padding: 0;
				list-style-type: none;
			}
				.side ul.submenu{
					margin-bottom: 10px;
				}
				.side ul.submenu li a{
					display: table-cell;
					width: 300px;
					height: 68px;
					line-height: 1em;
					vertical-align: middle;
					border-bottom: solid 1px #c3c3c3;
					text-decoration: none;
				}
				.side>ul.submenu>li>a{
					width: 258px;
					padding-left: 42px;
					background: url(/assets/templates/v1/side.png) #88C08D no-repeat 22px 50%;
					color: #ffffff;
				}
				.side>ul.submenu>li.acvtive a{
					background-color: #38743A;
					color: #e6e6e6;
				}
				.side>ul.submenu>li a:hover{
					background-color: #38743A;
				}
				.side>ul.submenu>li>ul>li>a{
					width: 264px;
					padding-left: 36px;
					background-color: #e6e6e6;
					color: #41210a;
				}
				.side>ul.submenu>li>ul>li>ul>li>a{
					width: 247px;
					padding-left: 53px;
					background-color: #e6e6e6;
					color: #41210a;
				}
				.side>ul.submenu>li>ul>li.active a{
					background-color: #f2f2f2;
				}
				.side>ul.submenu>li>ul>li a:hover{
					background-color: #f2f2f2;
				}
			.side ul.banner{
				margin-top: 30px;
			}
				.side ul.banner a{
					display: block;
					width: 300px;
					margin: 0 auto 15px auto;
				}
				.side ul.banner a:hover img{
					opacity: 0.75;
				}
.gotop {
	width: 60px;
	height: 60px;
	position: fixed;
	right: 0;
	bottom: 0;
}

.footer {
	border-top: solid 1px #ffffff;
	background-color: #ecdfce;
	padding: 44px 0 0 0;
}
	.footer .copyright{
		height: auto;
		margin-top: 44px;
		padding: 20px 0 40px 0;
		text-align: center;
		font-size: 0.7em;
		background-color: #ffffff;
	}


/*==============================================================================*/
/*                                 IN CONTENT                                   */
/*==============================================================================*/
.content h1 {
	height: 41px;
	line-height: 17px;
	padding-left: 30px;
	font-size: 20px;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒS Pro W6';
	background: url(/assets/templates/v1/bg_h1.png) no-repeat 0 0;
}
.content h2 {
	height: 31px;
	line-height: 14px;
	padding-left: 17px;
	margin-top: 2em;
	font-size: 16px;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒS Pro W6';
	background: url(/assets/templates/v1/bg_h2.png) no-repeat 0 0;
	clear: both;
}
.content h2.nosymbol {
	background: none;
	border-bottom: solid 1px #603912;
}
.content h2.appeal01 {
	padding-left: 0;
	margin: 1.5em 0 1.5em 0;
	height: auto;
	line-height: 1em;
	font-size: 24px;
	font-family: "HG–¾’©E","‚l‚r ‚o–¾’©","‚l‚r –¾’©",serif;
	background: none;
	color: #4e4e4e;
	clear: both;
}
.content h3 {
	height: 31px;
	line-height: 14px;
	margin-top: 2em;
	font-size: 16px;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒS Pro W6';
	color: #623613;
	clear: both;
}
.content p {
	text-indent:1em;
	margin: 0;
}
.content p.noindent {
	text-indent:0em;
}
.content em {
	font-style: normal;
	text-decoration: underline;
}
/*---------- table ---------*/
.content th {
	text-align:center;
	vertical-align:middle;
	background-color: #795636;
	color: #ffffff;
	white-space: nowrap;
}
.content tr td {
	vertical-align:middle;
	background-color: #e6e6e6;
	color: #4d4d4d;
	line-height: 1.1em;
	padding: 16px;
}
.content tr:nth-child(2n) td {
	background-color: #f2f2f2;
}
.content table .year,
.content table .month,
.content table .date,
.content table .num {
	white-space: nowrap;
}

/*---------- list ---------*/
.content ul,
.content ol,
.content dl {
	margin-left: 1em;
	padding-left: 0;
}
.content li {
	padding-left:2em;
	list-style: disc inside;
}
.content li {
	padding-left:2em;
	list-style: disc inside;
}
.content li li {
	list-style: circle inside;
}
.content dt {
	font-weight:bold;
}
.content dd {
	padding: 0 0 1em 1em;
}
.content hr {
	display:block;
	margin: 1em 0 ;
	height: 1px;
	clear: both;
	border: 0;
	background-color: #603912;
}
.content cite {
	display:block;
	padding:0.5em 0 1.0em 0;
	text-align:right;
}
.content .pict {
	padding-left:10px;
	padding-right: 0px;
	padding-bottom:10px;
	color:#666666;
	float:right;
	text-align:center;
}
.content .pict_left {
	padding-right:10px;
	padding-bottom:10px;
	color:#666666;
	float:left;
	 text-align:center;
}
.content .pict_right {
	padding-left:10px;
	padding-bottom:10px;
	color:#666666;
	float:right;
	text-align:center;
}
.content .pict_center {
	padding: 0 auto;
	margin: 5px auto;
	color:#666666;
	text-align:center;
}
.content .pict,
.content .pict_left,
.content .pict_right,
.content .pict_center img {
	margin-bottom: 3px;
}
.content .date {
	white-space:nowrap;
}
.content .nobold {
	font-weight:normal;
}
.content .noclear {
	clear: none;
}
.content .small {
	font-size:0.5em;
}
.content .sepalate {
	margin: 1em 0;
	text-align: center;
}
